.App {
  text-align: left;
  background: image(url='../../background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.App-header {

  background-color: rgb(0, 45, 123);
  color: white;
  font-size: 48px;
  font-weight: bold;
  padding: 5px 0 5px 25px;
}

